#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.game-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.back-button {
  position: relative;
  right: 400px;
  bottom: 90px;
}

/* boards wrapper */
.boards {
  display: flex;
  align-items: center;
  position: relative; 
}

.boards {
  transform: translateX(-150px); /* board1 width / 2 */
}

/* small board (left) */
#board1 {
  width: 300px;
  position: relative;
  left: 0px;   /* controls spacing */
}

/* big board (centered) */
#board2 {
  width: 500px;
}

#board3 {
  width: 500px;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* hidden */
.overlay-back {
  opacity: 0;
  z-index: 0;
}

/* visible */
.overlay-front {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
}

.result-box {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  font-size: .5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.effex-box {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  font-size: 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.analysis-box {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  font-size: 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.result-box h2 {
  margin-bottom: 1.5rem;
  color: white;
}

.restart {
  margin-bottom: 5em;
}

.statusText {
  color: white;
  padding: 1rem;
  position: relative;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
